<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Ghassen Ben Aissa">
    <link href="{{asset('images/favicon-32x32.png')}}" rel="icon">
    <title>Page Under Construction</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(135deg, #ff7777 0%, #b23535 100%);
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            color: #333;
        }
        .container {
            text-align: center;
            padding: 20px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }
        h1 {
            font-size: 3em;
            margin: 0.5em 0;
        }
        p {
            font-size: 1.2em;
            margin: 1em 0;
        }
        img {
            width: 400px;
            height: auto;
        }
        @media (max-width: 600px) {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1em;
            }
            img {
                width: 200px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <img src="{{asset('images/under-construction2.png')}}" alt="Under Construction">
    <h1>Under Construction</h1>
    <p>Sorry, this page is currently under construction. Please check back later.</p>
    <div class="row mt-5">
        <div class="col-12 text-center mt-xl-2">
            <a class="text-white font-weight-medium" href="{{ path('app_profile') }}">Back to home</a>
        </div>
    </div>
</div>
</body>
</html>
